<div class="btn-group pull-right">
	<a
		ui-sref=".create"
		class="btn btn-default"
		ng-if="!$ctrl.disableCreate"
	>
		<span class="glyphicon glyphicon-plus"></span>
		<span translate>CRUD_NEW</span>
	</a>

	<div class="btn-group">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu dropdown-menu-right">
			<li
				ng-if="!$ctrl.disableMassImport"
			>
				<a ui-sref=".importXls($ctrl.routeMapping)">
					<i class="fa fa-file-excel-o"></i>
					<span translate>CRUD_MASS_IMPORT</span>
				</a>
			</li>
			<li
				ng-if="!$ctrl.disableMassExport"
			>
				<a ui-sref=".exportXls($ctrl.routeMapping)">
					<i class="fa fa-file-excel-o"></i>
					<span translate>CRUD_MASS_EXPORT</span>
				</a>
			</li>
			<li ng-transclude class="crud-transcluded-actions"></li>
		</ul>
	</div>
</div>
