.crud-search-box {
	input + span .btn {
		transition: border-color 0.15s ease-in-out 0s;
	}

	input:focus + span .btn {
		border-bottom: 1px solid #3c8dbc;
		border-right: 1px solid #3c8dbc;
		border-top: 1px solid #3c8dbc;
	}
}

@media (max-width:767px) {
	.crud-content-header {
		display: flex;
		flex-wrap: wrap;
		width: 100%;

		form {
			margin-right: 0;
		}

		crud-search-field {
			order: 1;
			width: 100%;
		}

		btn-create {
			margin-bottom: 10px;
		}

		h1 {
			order: -1;
			flex: 1;
			margin-bottom: 10px;
		}
	}
}

btn-create + crud-search-field form {
	margin-right: 10px;
}
