.angular-table-pager {
	margin: @line-height-computed 0;
}

.angular-table-pager .pagination {
	margin: 0;
}

.angular-table-pager .pagination a {
	cursor: pointer;
	height: 2.5em;
}

.angular-table-pager > div + div {
	text-align: right;
}
