<div class="content-wrapper">
	<section class="content-header crud-content-header">
		<btn-create></btn-create>
		<crud-search-field
			table-params="ctrl.tableParams"
		></crud-search-field>
		<h1 translate>USER_TITLE_LIST</h1>
	</section>
	<section class="content">
		<div class="box box-primary">
			<div class="box-body">
				<div class="table-responsive">
					<ds-principal-identity data="currentAccount"></ds-principal-identity>
					<table
						class="table table-bordered table-striped"
						ng-table="ctrl.tableParams"
						template-pagination="adama-web/ark/ngtable/ngtable-pager.html"
					>
						<tr ng-repeat="user in $data track by user.id">
							<!-- <td -->
							<!-- 	header="'adama-web/ark/ngtable/ngtable-checkbox.html'" -->
							<!-- > -->
							<!-- 	<input type="checkbox" ng-model="user.isSelected" /> -->
							<!-- </td> -->
							<td
								data-title="'USER_LIST_LOGIN' | translate"
								sortable="'login'"
							>{{user.login}}</td>
							<td
								data-title="'USER_LIST_MAIL' | translate"
								sortable="'email'"
							>{{user.email}}</td>
							<td
								data-title="'USER_LIST_LANGUAGE' | translate"
								sortable="'langKey'"
						   	>{{user.langKey}}</td>
							<td
								data-title="'USER_LIST_AUTHORITY' | translate"
							>
								<span class="label label-info">{{ user.authority }}</span>
							</td>
							<td class="text-right">
								<crud-action-dropdown route-mapping="{id:user.id}"></crud-action-dropdown>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</section>
</div>
