<div class="content-wrapper">
	<section class="content-header">
		<h1 translate>ACCOUNT_PASSWORD_TITLE</h1>
	</section>
	<section class="content">
		<div class="box box-primary">
			<form name="form" novalidate ng-submit="ctrl.changePassword()">
				<div class="box-body">
					<input
						type="password"
						name="password"
						placeholder="{{'ACCOUNT_PASSWORD_NEWPASSWORD_PLACEHOLDER' | translate}}"
						ng-model="ctrl.password"
						minlength=5
						maxlength=50
						required
						lazy-control
						lazy-control-label-key="ACCOUNT_PASSWORD_NEWPASSWORD"
					/>
					<div ng-messages="form.password.$error" ng-if="form.password.$touched">
						<div ng-message="required" translate>ACCOUNT_PASSWORD_NEWPASSWORD_REQUIRED</div>
						<div ng-message="minlength" translate>ACCOUNT_PASSWORD_NEWPASSWORD_MINLENGTH</div>
						<div ng-message="maxlength" translate>ACCOUNT_PASSWORD_NEWPASSWORD_MAXLENGTH</div>
					</div>
					<input
						type="password"
						name="confirmPassword"
						placeholder="{{'ACCOUNT_PASSWORD_CONFIRM_NEWPASSWORD_PLACEHOLDER' | translate}}"
						ng-model="ctrl.confirmPassword"
						minlength=5
						maxlength=50
						required
						lazy-control
						lazy-control-label-key="ACCOUNT_PASSWORD_CONFIRM_NEWPASSWORD"
						ng-pattern="ctrl.password"
					/>
					<div ng-messages="form.confirmPassword.$error" ng-if="form.confirmPassword.$touched">
						<div ng-message="required" translate>ACCOUNT_PASSWORD_CONFIRM_NEWPASSWORD_REQUIRED</div>
						<div ng-message="minlength" translate>ACCOUNT_PASSWORD_CONFIRM_NEWPASSWORD_MINLENGTH</div>
						<div ng-message="maxlength" translate>ACCOUNT_PASSWORD_CONFIRM_NEWPASSWORD_MAXLENGTH</div>
						<div ng-message="pattern" translate>ACCOUNT_PASSWORD_CONFIRM_NEWPASSWORD_PATTERN</div>
					</div>
				</div>
				<div class="box-footer">
					<button
						type="submit"
						class="btn btn-primary"
						ng-disabled="form.$invalid"
						translate
					>ACCOUNT_PASSWORD_SUBMIT</button>
				</div>
			</form>
		</div>
	</section>
</div>
