<div class="login-box">
	<div class="login-logo">
		<b translate>APP_NAME</b>
	</div>
	<div class="login-box-body">
		<p class="login-box-msg" translate>RECOVER_INTRO</p>
		<form
			method="post"
			name="recoverForm"
			ng-submit="ctrl.recover(userEmail)"
		>
			<div class="form-group has-feedback">
				<label for="email" class="sr-only" translate>RECOVER_MAIL</label>
				<input type="email" id="email" class="form-control" name="userEmail" ng-model="userEmail" placeholder="{{ 'RECOVER_MAIL' | translate }}" required />
				<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
				<div ng-messages="recoverForm.userEmail.$error" ng-if="recoverForm.userEmail.$touched" class="text-danger">
					<div ng-message="required" translate>RECOVER_MAIL_REQUIRED</div>
					<div ng-message="email" translate>RECOVER_MAIL_EMAIL</div>
				</div>
			</div>
			<div
				ng-if="ctrl.recoverError"
				class="text-danger"
				translate
			>RECOVER_ERROR</div>
			<div
				ng-if="ctrl.errorEmailNotExists"
				class="text-danger"
				translate
			>RECOVER_ERROR_EMAIL_NOT_EXIST</div>
			<div
				ng-if="ctrl.recoverSuccess"
				class="text-danger"
				translate
			>RECOVER_SUCCESS</div>
			<div>
				<button
					type="submit"
					class="btn btn-primary btn-block btn-flat"
					ng-disabled="recoverForm.$invalid || ctrl.loading"
					translate
				>RECOVER_SUBMIT</button>
			</div>
			<!-- 
				TODO feedback management : Thank you! You will receive an email with instructions to reset your password
			-->
		</form>
		<div>
			<a ui-sref="^.signin">
				<i class="glyphicon glyphicon-arrow-left"></i>
				<span translate>RECOVER_BACK_TO_LOGIN</span>
			</a>
		</div>
	</div>
</div>
