<div class="login-box">
	<div class="login-logo">
		<b translate>APP_NAME</b>
	</div>
	<div class="login-box-body">
		<p
			class="login-box-msg"
			ng-if="!ctrl.messageForMobileUser"
			translate
		>RESET_PASSWORD_INTRO</p>
		<form
			method="post"
			name="resetForm"
			ng-submit="ctrl.resetPassword(userPassword)"
			ng-if="!ctrl.messageForMobileUser"
		>
			<div class="form-group has-feedback">
				<label for="password" class="sr-only" translate>RESET_PASSWORD_PASSWORD</label>
				<input
					type="password"
					id="password"
					class="form-control"
					name="userPassword"
					ng-model="userPassword"
					placeholder="{{ 'RESET_PASSWORD_PASSWORD' | translate }}"
					required
					minlength="6"
					maxlength="100"
				/>
				<span class="glyphicon glyphicon-lock form-control-feedback"></span>
				<div ng-messages="resetForm.userPassword.$error" ng-if="resetForm.userPassword.$touched" class="text-danger">
					<div ng-message="required" translate>RESET_PASSWORD_PASSWORD_REQUIRED</div>
					<div ng-message="minlength" translate>RESET_PASSWORD_PASSWORD_MINLENGTH</div>
					<div ng-message="maxlength" translate>RESET_PASSWORD_PASSWORD_MAXLENGTH</div>
				</div>
			</div>
			<div class="form-group has-feedback">
				<label for="password" class="sr-only" translate>RESET_PASSWORD_PASSWORD_CONFIRM</label>
				<input
					type="password"
					id="password"
					class="form-control"
					name="userPasswordConfirm"
					ng-model="userPasswordConfirm"
					placeholder="{{ 'RESET_PASSWORD_PASSWORD_CONFIRM' | translate }}"
					required
					ng-pattern="{{ userPassword }}"
					min="6"
					min="100"
				/>
				<span class="glyphicon glyphicon-lock form-control-feedback"></span>
				<div ng-messages="resetForm.userPasswordConfirm.$error" ng-if="resetForm.userPasswordConfirm.$touched" class="text-danger">
					<div ng-message="required" translate>RESET_PASSWORD_PASSWORD_CONFIRM_REQUIRED</div>
					<div ng-message="pattern" translate>RESET_PASSWORD_PASSWORD_CONFIRM_MATCH</div>
				</div>
			</div>
			<div
				ng-if="ctrl.resetError"
				class="text-danger"
				translate
			>RESET_PASSWORD_ERROR</div>
			<div>
				<button
					type="submit"
					class="btn btn-primary btn-block btn-flat"
					ng-disabled="resetForm.$invalid || ctrl.loading"
					translate
				>RESET_PASSWORD_SUBMIT</button>
			</div>
		</form>
		<div
			ng-if="ctrl.messageForMobileUser"
			translate
		>RESET_PASSWORD_MESSAGE_FOR_MOBILE_USER</div>
	</div>
</div>
