<div class="angular-table-pager">
	<div class="col-sm-4">
		<div ng-if="params.settings().counts.length" class="ng-table-counts btn-group">
			<button ng-repeat="count in params.settings().counts" type="button" ng-class="{'active':params.count()==count}" ng-click="params.count(count)" class="btn btn-default btn-sm">
				<span ng-bind="count"></span>
			</button>
		</div>
	</div>
	<div 
		class="col-sm-4"
		translate="PAGER_RESULT"
		translate-values="{
			total: params.total(),
			firstItemIdx: (params.page() - 1) * params.count() + 1,
			lastItemIdx: params.page() * params.count()
		}"
	></div>
	<div class="col-sm-4">
		<ul class="pagination pagination-sm" ng-show="pages">
			<li
				ng-repeat="page in pages"
				ng-class="{'active': page.current}"
				ng-switch="page.type"
			>
				<a ng-switch-when="prev" ng-click="params.page(page.number)" ng-if="page.active">
					&lt;
				</a>
				<a ng-switch-when="next" ng-click="params.page(page.number)" ng-if="page.active">
					&gt;
				</a>
				<a
					ng-click="params.page(page.number)"
					ng-switch-default
				>{{ page.number }}</a>
			</li>
		</ul>
	</div>
</div>
